annotated-types
anyio
attrs
beautifulsoup4
blinker
certifi
cffi
charset-normalizer              
click               
colorama            
comtypes            
distro              
Flask               
groq                
h11                 
httpcore            
httpx               
idna                
itsdangerous        
Jinja2              
logging             
MarkupSafe         
MouseInfo          
outcome            
pillow             
psutil             
PyAutoGUI          
pycaw
pycparser              
pydantic               
pydantic_core          
PyGetWindow            
PyMsgBox               
pyperclip              
pypiwin32              
PyRect             
PyScreeze          
PySocks            
python-dotenv      
pyttsx3            
pytweening         
pywhatkit          
pywin32            
requests           
screen_brightness_control
selenium
sniffio 
sortedcontainers
soupsieve       
SpeechRecognition
trio
trio-websocket
typing_extensions
urllib3
websocket-client
Werkzeug
wikipedia
WMI
wsproto
