# Web framework
Flask
gunicorn
Werkzeug

# Speech 
SpeechRecognition

#GUI Dependencies (required for local development)
screen-brightness-control
pyttsx3
pywhatkit

# API and Web
requests
groq
wikipedia

# System Control
psutil
comtypes

# Date and Time
python-dateutil

# Utils
pyautogui
numpy

# JSON Processing
json5

# CSV Processing
# Removing python-csv and using pandas instead
pandas

# Logging
logging

# Additional dependencies
python-dotenv